.page-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    min-height: 50vh;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 5px #00000030;
    background: #fff;
}
.page-container>*{
    width: 50%
}
.page-container .illustration{
    position: relative;
    padding: 30px 0;
}
.page-container .illustration::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%,-50%);
    width: 1px;
    height: 60%;
    background: #5f5f5f;
}
.page-container .illustration img{
    max-width: 100%;
}
.page-container .form{
    padding: 0 0 0 20px;
}
.page-container .form p{
    margin: 10px 0 15px 0;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.page-container input{
    width: 100%;
}
form .double{
    display: flex;
    gap: 15px;
}
.radioInput{
    width: 100%;
}
.radioInput label{
    width: 100%;
    padding: 20px 10px;
    background: #fff;
    box-shadow: 0 5px 8px #5f5f5f1f;
    display: block;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.radioInput input{
    display: none;
}
.radioInput:has(input:checked) label{
    background: #7e57c2;
    color: #fff;
}